<footer class="pure-g">
  <div class="subscribing pure-u-1">
    <h1>Subscribe to newsletter</h1>
    <p>Type your email below and you'll receive notifications about latest blog posts. Zero spam, guaranteed.</p>

    <%= render "subscribers/form" %>
  </div>
  <div class="social pure-u-1">
    <ul>
      <li>
        <%= link_to "https://twitter.com/maunovaha", target: "_blank" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "https://www.linkedin.com/in/maunovaha", target: "_blank" do %>
          <i class="fa fa-linkedin-square"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "http://stackoverflow.com/users/1541374/?tab=profile", target: "_blank" do %>
          <i class="fa fa-stack-overflow"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "https://www.facebook.com/hummerr", target: "_blank" do %>
          <i class="fa fa-facebook-square"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "https://github.com/maunovaha", target: "_blank" do %>
          <i class="fa fa-github"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="loader pure-u-1">
    <span></span>
  </div>
  <div class="copyrights pure-u-1">
    <p><i class="fa fa-copyright"></i> 2015 and beyond, Mauno Vähä. All rights reserved. | Questions? <span>maunovaha<i class="fa fa-at"></i>gmail.com</span></p>
  </div>
</footer>
