<!DOCTYPE html>
<html lang="en">
  <%= render "partials/head" %>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

  <main role="main" class="main main-<%= controller_name %> pure-g">
    <div class="post pure-u-1">
      <article>
        <%= render "partials/blog/posts/header" %> 
        <%= yield %>
      </article>
    </div>
    <% if Rails.env.production? %>
      <%= render "partials/blog/posts/sharing" %>
    <% end %>
    <%= render "partials/blog/posts/nav" %>
  </main>
  
  <%= render "partials/footer" %>
  </body>
</html>