<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <%= render "blog/header" %>

  <main role="main" class="main main-blog main-<%= controller_name %>">
    <%= yield %>
  </main>
  
  <%= render "shared/footer" %>
  <%= javascript_include_tag 'application' %>
  </body>
</html>